.main{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: $color2;
    .control{
        width: 95%;
        height: 90%;
        background-color: $color3;
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: 60% 30%;
        grid-template-rows: 30% 30% 30%;
        gap: 10px;
        grid-template-areas: 
        "registro vista"
        "tabla vista"
        "tabla vista"
        ;
        .register{
            grid-area: registro;
            width: 100%;
            height: 100%;
            background-color: $color1;
            .register__info{
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(3,30%);
                grid-template-rows: repeat(3,30%);
                grid-template-areas: 
                "1 4 6"
                "2 4 6"
                "3 5 6"
                ;
                @for $i from 1 through 6{
                    .register__info-content--#{$i}{
                        grid-area: $i;
                    }
                }
            }
        }
        .table{
            grid-area: tabla;
            @extend .register
        }
        .view{
            grid-area: vista;
            @extend .register
        }
    }
}